@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body, [class*="css"] {
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
}

.block-container{
    padding-top: 25px;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(5, 115px);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.news {
          display: flex;
          flex-direction: row-reverse;
          border-radius: 10px;
        }

 .content.text{
    flex: 2;
    padding: 20px;
 }

