@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body, [class*="css"] {
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
}

.block-container{
    padding-top: 25px;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(5, 115px);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.news {
          display: flex;
          flex-direction: row-reverse;
          border-radius: 10px;
        }

 .content.text{
    flex: 2;
    padding: 20px;
 }


/* style.css */
/* style.css */
table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: #2b3d51;
    color: #ffffff;
    height: 5rem;
    font-size: 1.5rem;
}

th, td {
    padding: 15px;
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    border: 0;
}

td {
    background: #f3f3f3;
}

tr {
    border-top: none;
    border-bottom: none;
}

th:last-child, td:last-child {
    border-right: none;
}

th:first-child, td:first-child {
    border-left: none;
}


